body {
  background-color: #f3fce3;
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;

  font-style: normal;
}

.weather-box {
  max-width: 600px;
  background-color: white;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: #5c940e;
}

img {
  margin: 30px auto;
  display: block;
  max-width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#city {
  background-color: #f3fce3;
  width: 75%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: large;
}

#search {
  background-color: #5c940e;
  width: 15%;
  border: none;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  font-size: large;
}

header {
  border-bottom: 1px solid #f3fce3;
  padding: 0 0 30px 0;
}

footer {
  border-top: 1px solid #f3fce3;
  padding: 30px 0 30px 0;
  font-size: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
