body {
  background-color: #f3fce3;
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;

  font-style: normal;
}

.weather-box {
  max-width: 600px;
  background-color: white;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a {
  color: #5c940e;
  font-weight: bolder;
}

img {
  margin: 30px auto;
  display: block;
  max-width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#city {
  background-color: #f3fce3;
  width: 75%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: large;
}

#search {
  background-color: #5c940e;
  width: 15%;
  border: none;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  font-size: large;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  color: #f3fce3;
}

header {
  border-bottom: 1px solid #f3fce3;
  padding: 0 0 30px 0;
}

h1 {
  font-size: 40px;
  font-weight: bolder;

  color: #4d7f07;
}
main {
  margin-top: 30px;
  margin-right: 30px;
}
footer {
  border-top: 1px solid #f3fce3;
  padding: 30px 0 30px 0;
  font-size: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-details {
  color: rgba(0, 0, 0, 0.5);
}

.color {
  color: #b15faf;
}

.weather-app-temp {
  display: flex;
  padding-left: 20px;
}

.temp {
  font-size: 70px;
  font-weight: bolder;
  margin-top: 30px;
}

.weather-app-icon {
  width: 68px;
  height: 68px;
  margin-top: 70px;
  box-shadow: none;
}

.unit {
  font-size: 20px;
  margin-top: 55px;
  margin-left: 20px;
}
